In [ ]:
!pip install stanza
!pip install thefuzz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: stanza in /usr/local/lib/python3.7/dist-packages (1.4.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from stanza) (4.64.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from stanza) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from stanza) (1.15.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from stanza) (3.19.6)
Requirement already satisfied: emoji in /usr/local/lib/python3.7/dist-packages (from stanza) (2.2.0)
Requirement already satisfied: torch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from stanza) (1.12.1+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from stanza) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.3.0->stanza) (4.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->stanza) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: thefuzz in /usr/local/lib/python3.7/dist-packages (0.19.0)

In [ ]:
import os 
import pandas as pd
import numpy as np
import stanza
from thefuzz import process
data_folder = '/content/sample_data/'

/usr/local/lib/python3.7/dist-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
# Loading the data obtained from the NLP pipeline:
df_1 = pd.read_csv(data_folder + "Plot_NLP_Analysis_0_14100.csv", sep='\t', header = None)
df_2 = pd.read_csv(data_folder + "Plot_NLP_Analysis_14101_23201.csv", sep='\t', header = None)
df_3 = pd.read_csv(data_folder + "Plot_NLP_Analysis23202-42302.csv", sep='\t', header = None)
df_1 = df_1.drop(columns=0)
df_2 = df_2.drop(columns=0)
df_3 = df_3.drop(columns=0)

In [ ]:
clusters_df = pd.concat([df_1, df_2, df_3], ignore_index=True)
clusters_df.columns = ('Wikipedia movie ID', 'Character partial name', 'Agent Verbs', 'Patient Verbs', 'Attributes')

In [ ]:
# Loading the data of character metadata
df_characters = pd.read_csv(data_folder +'character.metadata.tsv', sep='\t')
df_characters.columns = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie release date', 'Character name', 
                         'Actor date of birth', 'Actor gender', 'Actor height (in meters)', 
                         'Actor ethnicity (Freebase ID)', 'Actor name', 'Actor age at movie release',
                        'Freebase character/actor map ID', 'Freebase character ID', 'Freebase actor ID']

In [ ]:
# Loading the data of movie metadata
df_movie = pd.read_csv(data_folder +'movie.metadata.tsv', sep='\t')
df_movie.columns = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie name',
                    'Movie release date', 'Movie box office revenue', 'Movie runtime',
                    'Movie languages (Freebase ID)', 'Movie countries (Freebase ID)', 
                    'Movie genres (Freebase ID)']

In [ ]:
df_char_movie = pd.merge(left=df_characters, right=df_movie, how='inner', 
                         on= ['Wikipedia movie ID', 'Freebase movie ID', 
                              'Movie release date'])

In [ ]:
df_char_movie = df_char_movie.reset_index(drop = True)

In [ ]:
df_char_movie_names = df_char_movie[['Wikipedia movie ID','Character name']].dropna()
df_char_movie_names['All_names'] = df_char_movie_names.groupby(['Wikipedia movie ID'], 
            as_index = True)['Character name'].transform(lambda x: ','.join(x))
df_char_movie_names = df_char_movie_names[['Wikipedia movie ID', 'All_names']].drop_duplicates()
df_char_movie_names['All_names'] = [x.strip('()').split(',') for x in df_char_movie_names['All_names']]

In [ ]:
clusters_df = clusters_df.merge(df_char_movie_names, how = 'inner', on = 'Wikipedia movie ID')
clusters_df.head(3)

,Wikipedia movie ID,Character partial name,Agent Verbs,Patient Verbs,Attributes,All_names
0,20663735,Maranchery,0.0,0.0,son,"[M.K. Menon, Bharathan, Nandagopal Marar, Mara..."
1,20663735,Manapally,"['accepts', 'arrives', 'tries']",0.0,case crony post help,"[M.K. Menon, Bharathan, Nandagopal Marar, Mara..."
2,20663735,DYSP,0.0,0.0,crony,"[M.K. Menon, Bharathan, Nandagopal Marar, Mara..."

In [ ]:
def matching(col1, col2):
    if process.extractOne(col1, list(col2))[1]>80:
        res = process.extractOne(col1, list(col2))[0]    
    else:
        res = 'Not found'
    return res

clusters_df['Full_name'] = clusters_df.apply(lambda x: matching(x['Character partial name'],
                                                                            x['All_names']), axis=1)
clusters_df.tail(50)

,Wikipedia movie ID,Character partial name,Agent Verbs,Patient Verbs,Attributes,All_names,Full_name
35362,13348400,Falcon,"['heads', 'fears', 'finds', 'home', 'arrives',...",0.0,owner home dog relationship older goodbye band,"[Martin Falcon, Jennie Lee, Daryle]",Martin Falcon
35363,13348400,Doberman,['chases'],0.0,dog,"[Martin Falcon, Jennie Lee, Daryle]",Not found
35364,20402406,Maribor,0.0,0.0,name,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Not found
35365,20402406,Behmen,"['enter', 'tries', 'continues', 'asks']",['wounded'],sword bond actions,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Not found
35366,20402406,Debelzeq,"['returns', 'comes', 'beginning', 'comes', 'th...",0.0,priest swindler altar fear,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Debelzaq
35367,20402406,Kay,"['returns', 'picks', 'able', 'bury', 'tell']",0.0,priest swindler altar sword able,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Kay
35368,20402406,Hagamar,['attempts'],0.0,swindler,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Hagamar
35369,20402406,Stephen,0.0,0.0,swindler,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Not found
35370,20402406,Eckhart,"['watch', 'gets', 'has']",0.0,volunteers,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Eckhardt
35371,20402406,Mila,0.0,0.0,daughter,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Not found
35372,20402406,Anna,"['becomes', 'explains', 'saves', 'appears', 'b...",['possessing'],tearful trusting,"[Kay, Behman von Bleibruck, Felson, Debelzaq, ...",Not found
35373,22762373,Sakthi,"['kid', 'doting', 'worried', 'has', 'falls', '...",0.0,kid mother grandfather gifts,"[Kundalagesi, Sakthivel, Indhu]",Sakthivel
35374,22762373,Sachu,"['doting', 'worried', 'has', 'thinks']",0.0,mother grandfather,"[Kundalagesi, Sakthivel, Indhu]",Not found
35375,22762373,Vinu,"['worried', 'has', 'meets', 'thinks']",0.0,father,"[Kundalagesi, Sakthivel, Indhu]",Not found
35376,22762373,Sakthivel,['aids'],0.0,uncle,"[Kundalagesi, Sakthivel, Indhu]",Sakthivel
35377,22762373,Kundalakesi,['aids'],0.0,uncle,"[Kundalagesi, Sakthivel, Indhu]",Kundalagesi
35378,22762373,Jayaganesh,0.0,0.0,friend daughter,"[Kundalagesi, Sakthivel, Indhu]",Not found
35379,22762373,Indhu,"['daughter', 'gets']",0.0,daughter,"[Kundalagesi, Sakthivel, Indhu]",Indhu
35380,22762373,Mathi,['works'],0.0,cousin cousin,"[Kundalagesi, Sakthivel, Indhu]",Not found
35381,22762373,Vivek,['works'],0.0,cousin,"[Kundalagesi, Sakthivel, Indhu]",Not found
35382,22762373,Sakthi's,['works'],0.0,cousin,"[Kundalagesi, Sakthivel, Indhu]",Not found
35383,8605430,Titli,"['girl', 'going', 'wants', 'returned', 'verge'...",['surprised'],evolution girl mother father verge mother,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Titli
35384,8605430,Rohit,"['none', 'needs', 'outsider', 'feels', 'writes']",['made'],superstar none co-passenger outsider film,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Rohit Roy
35385,8605430,Urmila,"['shares', 'lovers', 'married', 'recites', 'wo...","['surprised', 'made']",mother lovers film married hill letter,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Urmila
35386,8605430,Rajesh,0.0,0.0,crush,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Not found
35387,8605430,Titli's,0.0,['set'],dreams,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Titli
35388,8605430,Shakti,0.0,0.0,poem,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Not found
35389,8605430,Abani,0.0,0.0,poem,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Not found
35390,8605430,Meghadutam,0.0,0.0,verse,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Not found
35391,8605430,Tagore,0.0,0.0,poem,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Not found
35392,8605430,John,['builds'],0.0,fields,"[Urmila's husband, Rohit Roy, Urmila, Titli]",Not found
35393,4913923,Tomas,"['boy', 'encourages', 'back']",0.0,boy friend,"[Leo Zhukovsky, Niels]",Not found
35394,4913923,Jacob,"['boy', 'encourages', 'asks', 'suffers', 'appe...",0.0,friend Family death,"[Leo Zhukovsky, Niels]",Not found
35395,4913923,Dina,"['refuses', 'grows', 'refuses', 'slaps', 'reta...",['bequeaths'],father hand old ways fact accounting tendencie...,"[Leo Zhukovsky, Niels]",Not found
35396,4913923,Lorch,"['grown', 'brings']",0.0,departure death,"[Leo Zhukovsky, Niels]",Not found
35397,4913923,Karen,"['runs', 'falls', 'sets', 'leaves', 'leaving',...",['bequeaths'],mother stepsons,"[Leo Zhukovsky, Niels]",Not found
35398,4913923,Niels,"['like', 'rapes', 'staggers', 'decides', 'hangs']",0.0,stepsons deep ultimatum drunken,"[Leo Zhukovsky, Niels]",Niels
35399,4913923,Benjamin,['old'],0.0,old,"[Leo Zhukovsky, Niels]",Not found
35400,4913923,Zhukovsky,"['seen', 'returns', 'anarchist', 'going', 'says']",['released'],anarchist,"[Leo Zhukovsky, Niels]",Leo Zhukovsky
35401,4913923,King,0.0,0.0,plot,"[Leo Zhukovsky, Niels]",Not found
35402,26261438,Gor,0.0,0.0,adventures,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Not found
35403,26261438,Cabot,"['activates', 'meets', 'protests', 'represents...","['overjoyed', 'forced', 'brought']",ring return dangerous determined blow death ring,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Tarl Cabot
35404,26261438,Talena,"['believes', 'triumph']",0.0,lover,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Talena
35405,26261438,Koruba,0.0,['overjoyed'],townspeople,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Kor
35406,26261438,King,"['step', 'finds']","['married', 'sent']",father,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Not found
35407,26261438,Xenos,"['attempts', 'unsuccessful', 'ends']",0.0,priest attempts lack,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Xenos
35408,26261438,Hup,0.0,0.0,sidekick,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Midget Hup
35409,26261438,Marlenus,['announces'],0.0,death killer,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Marlenus
35410,26261438,Lara,"['desires', 'hire', 'betrays', 'tries', 'break...",0.0,alliance attempt killer,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Queen Lara
35411,26261438,Hunter,"['finds', 'prepares', 'believes']",0.0,guard,"[Elder, Tarl Cabot, Queen Lara, Watney Smith, ...",Not found

In [ ]:
clusters_df.to_csv(data_folder + "Characters_Matched_DF.csv", sep='\t', header=None)

# TO DO:

- DROP ALL NOT FOUND CHARACTERS
- PUT INFO TOGETHER FOR ALL ROWS CORRESPONDING TO THE SAME ACTOR
- START ANALYSIS FROM HERE:
    - WORK ON GOOGLE COLAB!
    - EMPATH
    - RATIO PATIENT/AGENT VERBS
    - SEPARATE ANALYSIS PER GENRE
    - TRY TO ADD THE MAIN CHARACTER

In [ ]:
char_df = clusters_df.loc[clusters_df['Full_name'] != 'Not found']

In [ ]:
len(char_df)

17488

In [ ]:
len(clusters_df)

35412

In [ ]:
char_df.head(10)

,Wikipedia movie ID,Character partial name,Agent Verbs,Patient Verbs,Attributes,All_names,Full_name
0,20663735,Maranchery,0.0,0.0,son,"[M.K. Menon, Bharathan, Nandagopal Marar, Mara...",Marancheri Induchoodan
3,20663735,Menon,"['refuses', 'regrets', 'suffers']","['accused', 'judged']",judge jail corruption funeral,"[M.K. Menon, Bharathan, Nandagopal Marar, Mara...",M.K. Menon
5,20663735,Induchoodan,"['loses', 'passes', 'thwarts', 'follow', 'fall...",['framed'],dead years state confrontations friend court,"[M.K. Menon, Bharathan, Nandagopal Marar, Mara...",Marancheri Induchoodan
12,595909,Michael,"['holiday', 'uses', 'disintegrate']",['found'],pastor day faith,"[Michael Chamberlain, Lindy Chamberlain, Magaz...",Michael Chamberlain
13,595909,Lindy,"['returns', 'saw', 'seems', 'insisted']","['charged', 'found']",wife,"[Michael Chamberlain, Lindy Chamberlain, Magaz...",Lindy Chamberlain
15,595909,Chamberlains,['overturned'],0.0,convictions,"[Michael Chamberlain, Lindy Chamberlain, Magaz...",Michael Chamberlain
20,5272176,Stevens,['handed'],0.0,home,"[Kate Crawford, Vaughn Stevens, The First Lady...",Vaughn Stevens
21,5272176,Steven,0.0,0.0,house,"[Kate Crawford, Vaughn Stevens, The First Lady...",Vaughn Stevens
22,1952976,Dahlia,"['stands', 'wants', 'unstable', 'see', 'agrees...","['reached', 'left']",girl unstable,"[Mediator, Dahlia, Mr. Murray, Jeff Platzer, K...",Dahlia
23,1952976,Kyle,"['wants', 'threatens', 'picks', 'picks', 'takes']",0.0,ex-husband,"[Mediator, Dahlia, Mr. Murray, Jeff Platzer, K...",Kyle Williams

In [ ]:
categories = ['Agent Verbs', 'Patient Verbs', 'Attributes']

for i,cat in enumerate(categories):
  rem = char_df[cat] == '0.0'
  char_df.loc[rem, cat] = char_df.loc[rem, cat].replace('0.0', '')
char_df['All_Agent_Verbs'] = char_df.groupby(['Full_name'])['Agent Verbs'].transform(lambda x: ','.join(x))
char_df['All_Patient_Verbs'] = char_df.groupby(['Full_name'])['Patient Verbs'].transform(lambda x: ','.join(x))
char_df['All_Attributes'] = char_df.groupby(['Full_name'])['Attributes'].transform(lambda x: ','.join(x))

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
char_df = char_df[[	'Wikipedia movie ID', 'Full_name', 'All_Agent_Verbs', 'All_Patient_Verbs', 'All_Attributes']]

In [ ]:
char_df

,Wikipedia movie ID,Full_name,All_Agent_Verbs,All_Patient_Verbs,All_Attributes
0,20663735,Marancheri Induchoodan,",['loses', 'passes', 'thwarts', 'follow', 'fal...",",['framed']","son,dead years state confrontations friend court"
3,20663735,M.K. Menon,"['refuses', 'regrets', 'suffers']","['accused', 'judged']",judge jail corruption funeral
5,20663735,Marancheri Induchoodan,",['loses', 'passes', 'thwarts', 'follow', 'fal...",",['framed']","son,dead years state confrontations friend court"
12,595909,Michael Chamberlain,"['holiday', 'uses', 'disintegrate'],['overturn...","['found'],","pastor day faith,convictions"
13,595909,Lindy Chamberlain,"['returns', 'saw', 'seems', 'insisted']","['charged', 'found']",wife
...,...,...,...,...,...
35405,26261438,Kor,,['overjoyed'],townspeople
35407,26261438,Xenos,"['attempts', 'unsuccessful', 'ends']",,priest attempts lack
35408,26261438,Midget Hup,,,sidekick
35409,26261438,Marlenus,['announces'],,death killer
35410,26261438,Queen Lara,"['desires', 'hire', 'betrays', 'tries', 'break...",,alliance attempt killer

In [ ]:
char_df.to_csv(data_folder + "Characters_Matched_DF_Clean.csv", sep='\t', header=None)

From here all testing stuff

In [ ]:
clusters_df_test = clusters_df.head(150)

In [ ]:
# Python env: pip install thefuzz
# Anaconda env: pip install thefuzz
# -> thefuzz is not yet available on Anaconda (2021-09-18)
# -> you can use the old package: conda install -c conda-forge fuzzywuzzy

#df_char_movie_test = df_char_movie[df_char_movie['Wikipedia movie ID' == 31186339]]#'23890098']]or 'Wikipedia movie ID' =='31186339'or 'Wikipedia movie ID' =='20663735'or 'Wikipedia movie ID' =='2231378']
#df_char_movie_test
ids = clusters_df_test['Wikipedia movie ID'].unique()
df_char_movie_test = df_char_movie[df_char_movie['Wikipedia movie ID'].isin(ids)]

In [ ]:
df_char_movie_test2 = df_char_movie_test[['Wikipedia movie ID','Character name']].dropna()
df_char_movie_test2['All_names'] = df_char_movie_test2.groupby(['Wikipedia movie ID'], 
            as_index = True)['Character name'].transform(lambda x: ','.join(x))
df_char_movie_test2['All_names'] = [x.strip('()').split(',') for x in df_char_movie_test2['All_names']]
df_char_movie_test2 = df_char_movie_test2[['Wikipedia movie ID', 'All_names']].drop_duplicates()

In [ ]:
clusters_df_test2 = clusters_df_test.merge(df_char_movie_test2, how = 'right', on = 'Wikipedia movie ID')
clusters_df_test2.head(15)

,Wikipedia movie ID,Character partial name,Agent Verbs,Patient Verbs,Attributes,All_names
0,20663735,Maranchery,0.0,0.0,son,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
1,20663735,Manapally,"['accepts', 'arrives', 'tries']",0.0,case crony post help,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
2,20663735,DYSP,0.0,0.0,crony,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
3,20663735,Menon,"['refuses', 'regrets', 'suffers']","['accused', 'judged']",judge jail corruption funeral,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
4,20663735,Moopil,0.0,0.0,son,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
5,20663735,Induchoodan,"['loses', 'passes', 'thwarts', 'follow', 'fall...",['framed'],dead years state confrontations friend court,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
6,20663735,Nambiar,['Ramakrishnan'],0.0,rituals funeral,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
7,20663735,Mooppil,0.0,0.0,daughter minded,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
8,20663735,Kanaka,0.0,0.0,girl,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
9,20663735,Chandrabhanu,0.0,0.0,truth,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
10,20663735,Jayakrishnan,0.0,0.0,friend,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
11,20663735,Indulekha,0.0,['found'],parentage,"M.K. Menon,Bharathan,Nandagopal Marar,Maranche..."
12,15224586,Minh,['silent'],['drawn'],silent solitary,"Addie,Gunnery Sergeant Jim Lance"
13,15224586,Duc,['falls'],0.0,friend,"Addie,Gunnery Sergeant Jim Lance"
14,24225279,Mickey,0.0,0.0,boyfriend ex,Miss Lombardo

In [ ]:
def matching(col1, col2):
    if process.extractOne(col1, list(col2))[1]>80:
        res = process.extractOne(col1, list(col2))[0]    
    else:
        res = 'Not found'
    return res

clusters_df_test2['Full_name'] = clusters_df_test2.apply(lambda x: matching(x['Character partial name'],
                                                                            x['All_names']), axis=1)
clusters_df_test2.tail(50)

,Wikipedia movie ID,Character partial name,Agent Verbs,Patient Verbs,Attributes,All_names,Full_name
85,447194,Ahtur,['decides'],0.0,high chariot war defeat,"[Haisham, Delilah, Samson, The Saran of Gaza, ...",Not found
86,447194,Samson,"['loses', 'becomes', 'rips', 'asks']","['engaged', 'taken', 'blinded']",hands love passing,"[Haisham, Delilah, Samson, The Saran of Gaza, ...",Samson
87,447194,Dagon,"['collapses', 'lies']",0.0,temple,"[Haisham, Delilah, Samson, The Saran of Gaza, ...",Not found
88,31186339,Primrose,0.0,['chosen'],old,"[Foxface, Katniss Everdeen, Peeta Mellark, Eff...",Primrose Everdeen
89,31186339,Katniss,"['volunteers', 'survives', 'drops', 'has', 'ru...","['gave', 'taken', 'warned', 'presented']",sister love,"[Foxface, Katniss Everdeen, Peeta Mellark, Eff...",Katniss Everdeen
90,31186339,Peeta,"['tribute', 'reveals', 'meant', 'forms', 'begs...",0.0,tribute mobile victorious,"[Foxface, Katniss Everdeen, Peeta Mellark, Eff...",Peeta Mellark
91,31186339,Haymitch,"['able', 'warns']",0.0,victor advice able star rule,"[Foxface, Katniss Everdeen, Peeta Mellark, Eff...",Haymitch Abernathy
92,31186339,Caesar,0.0,0.0,interview TV,"[Foxface, Katniss Everdeen, Peeta Mellark, Eff...",Caesar Flickerman
93,31186339,Rue,"['draws', 'cares', 'draw']",0.0,body,"[Foxface, Katniss Everdeen, Peeta Mellark, Eff...",Rue
94,8388648,Madhav,"['playing', 'friends', 'escapes', 'works', 'se...",0.0,friends neighbours football love love,"[Madhav, Amrutha, Hero friend]",Madhav
95,8388648,Sreenu,"['tries', 'loses', 'convinces', 'gets', 'agree...",['seen'],accident house bride father,"[Madhav, Amrutha, Hero friend]",Not found
96,8388648,Amrutha,"['returns', 'holds', 'tries', 'thinks', 'one',...",['questioned'],love one bride,"[Madhav, Amrutha, Hero friend]",Amrutha
97,1335380,Katherine,['volunteer'],0.0,Nurse,"[Ari Ben Canaan, Dov Landau]",Not found
98,1335380,Kitty,"['volunteer', 'grown', 'fallen']",['brought'],Nurse chagrin,"[Ari Ben Canaan, Dov Landau]",Not found
99,1335380,Karen,"['proclaims', 'Sonderkommando', 'ill', 'gone',...","['freed', 'contacted', 'raped', 'found', 'buri...",young beau father ecstatic,"[Ari Ben Canaan, Dov Landau]",Not found
100,1335380,Dov,"['proclaims', 'goes', 'bombs', 'turns', 'assur...",0.0,beau,"[Ari Ben Canaan, Dov Landau]",Dov Landau
101,1335380,Irgun,['damage'],0.0,address members,"[Ari Ben Canaan, Dov Landau]",Not found
102,1335380,Ari,"['obtains', 'threatens', 'devise', 'receives',...","['raised', 'wounded']",uncle,"[Ari Ben Canaan, Dov Landau]",Ari Ben Canaan
103,1335380,Akiva,"['forces', 'Sonderkommando', 'ill', 'use', 'ma...","['freed', 'contacted', 'raped', 'disowned', 'a...",uncle head uncle hundreds,"[Ari Ben Canaan, Dov Landau]",Not found
104,1335380,Ari's,"['Sonderkommando', 'ill', 'use', 'manages']","['freed', 'contacted', 'raped', 'found']",father diplomatic,"[Ari Ben Canaan, Dov Landau]",Ari Ben Canaan
105,1335380,Barak,"['Sonderkommando', 'ill', 'use', 'manages']","['freed', 'contacted', 'raped', 'found']",father diplomatic,"[Ari Ben Canaan, Dov Landau]",Not found
106,1335380,Gan,0.0,0.0,village,"[Ari Ben Canaan, Dov Landau]",Not found
107,1335380,Taha,['mukhtar'],['found'],friend body,"[Ari Ben Canaan, Dov Landau]",Not found
108,2254491,Sita,"['suspicious', 'agree', 'hires']",0.0,aunt suspicious,"[Preetam Kumar, Anita Verma, Johny, Singer, Se...",Not found
109,2254491,Anita,"['marry', 'befriends', 'recognizes']",['controlled'],attitudes,"[Preetam Kumar, Anita Verma, Johny, Singer, Se...",Anita Verma
110,2254491,Preetam,"['meets', 'leaves']","['kept', 'worried']",sister feelings,"[Preetam Kumar, Anita Verma, Johny, Singer, Se...",Preetam Kumar
111,10644072,Bhagwaan,"['turns', 'falls', 'vows', 'does', 'chances', ...","['spills', 'killed', 'injured']",soul source inspiration home revenge territory...,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Bhagwaan Dada
112,10644072,Govinda,"['become', 'mistakes', 'remaining', 'invites',...",0.0,son son young young brave little legs murder w...,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Not found
113,10644072,Swaroop,"['falls', 'does', 'claim', 'hears', 'soul', 'h...","['hears', 'returned', 'injured']",city money education city soul wife ecstatic m...,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Not found
114,10644072,Shambu,"['steal', 'lusts', 'sworn', 'dumps', 'escaped'...",['convicted'],gang assault gang men activities crime empire ...,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Not found
115,10644072,Bijli,"['insists', 'streetwalker', 'spills', 'worker'...",0.0,streetwalker worker sex fraud attraction behav...,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Not found
116,10644072,Madhu,"['reciprocates', 'comes', 'help']",0.0,reporter newspaper crime exhausted,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Madhu
117,10644072,Geeta,"['discover', 'goes', 'realise']",['interrupted'],sister wedding,"[Bhagwaan Dada, Madhu, Nirmaladevi]",Not found
118,12978934,Beth,"['goes', 'neglects']",['convinced'],husband reunion school,"[Vincent Cappadora - Age 16, Sam Karras / Ben ...",Beth Cappadora
119,12978934,Ben,"['vanishes', 'gone', 'produces', 'reveals']",['kidnapped'],son re-integration best,"[Vincent Cappadora - Age 16, Sam Karras / Ben ...",Ben Cappadora - Age 3
120,12978934,Vincent,['finds'],['forgiven'],children,"[Vincent Cappadora - Age 16, Sam Karras / Ben ...",Vincent Cappadora - Age 16
121,12978934,Jonathan,0.0,0.0,children,"[Vincent Cappadora - Age 16, Sam Karras / Ben ...",Not found
122,12978934,Sam,"['vanishes', 'son']",0.0,son,"[Vincent Cappadora - Age 16, Sam Karras / Ben ...",Not found
123,12978934,Cappadora,"['accepted', 'decides']",0.0,family,"[Vincent Cappadora - Age 16, Sam Karras / Ben ...",Pat Cappadora
124,15072401,Colby,0.0,0.0,fortune,"[Henrietta Lowell, Charlie Chan, Alice Lowell,...",Not found
125,15072401,Lowell,0.0,0.0,fortune estate,"[Henrietta Lowell, Charlie Chan, Alice Lowell,...",Henrietta Lowell
126,15072401,Ulrich,0.0,0.0,estate,"[Henrietta Lowell, Charlie Chan, Alice Lowell,...",Ulrich
127,15072401,Alan,['reappears'],0.0,grudge,"[Henrietta Lowell, Charlie Chan, Alice Lowell,...",Not found
128,33269085,Ranchhod,['man'],0.0,man arrogant self area,"[Sunder Kapoor, Kamla Patel]",Not found
129,33269085,,0.0,0.0,magnate estate,"[Sunder Kapoor, Kamla Patel]",Not found
130,33269085,Namrata,0.0,0.0,daughters marriage,"[Sunder Kapoor, Kamla Patel]",Not found
131,33269085,Ritu,['informs'],0.0,daughters,"[Sunder Kapoor, Kamla Patel]",Not found
132,33269085,Roger,['arranges'],0.0,overprotective,"[Sunder Kapoor, Kamla Patel]",Not found
133,33269085,Patel,0.0,0.0,man professional,"[Sunder Kapoor, Kamla Patel]",Kamla Patel
134,33269085,Sunder,0.0,0.0,mate soul part part professional property,"[Sunder Kapoor, Kamla Patel]",Sunder Kapoor

In [ ]:
#OTHER TESTS TO USE IN CASE WE WANT TO IMPROVE THE CODE


''' 1- TRYING THE MAP FUNCTION
best_char = lambda x: process.extractOne(x, df_char_movie_test["Character name"])[2]  # See note below
clusters_df_test['Char'] = df_char_movie_test.loc[clusters_df_test["Character partial name"].map(best_char).values, "Character name"].values

2- GROUPBY AND DO LIKE CAMILLE
#res = [process.extractOne(elem, char_movie_31186339) for elem in clusters_df_31186339[0:6]]
dfm = pd.DataFrame(clusters_df_31186339.apply(lambda x: process.extractOne(x, char_movie_31186339))
                               .tolist(), columns=["Character name", "ratio", "best_id"])
# Need to find the correlation between both dataframes : in clusters_df, there are only names and in df_char_movie there are full character names:
# However, process.extractOne is comparing one string with a list of strings : we need to group by movie and compare each element of the group with each element of the other group:
clusters = clusters_df.groupby(['Wikipedia movie ID'])['Character partial name']
char_movies = df_char_movie.groupby(['Wikipedia movie ID'])['Character name']
dfm = pd.DataFrame(clusters.apply(lambda x: [process.extractOne(elem, [group.values for name, group in char_movies]) for elem in x])
                               .tolist(), columns=['Character name', 'ratio', 'best_id']) #score_cutoff = 50?
'''

' 1- TRYING THE MAP FUNCTION\nbest_char = lambda x: process.extractOne(x, df_char_movie_test["Character name"])[2]  # See note below\nclusters_df_test[\'Char\'] = df_char_movie_test.loc[clusters_df_test["Character partial name"].map(best_char).values, "Character name"].values\n\n2- GROUPBY AND DO LIKE CAMILLE\n#res = [process.extractOne(elem, char_movie_31186339) for elem in clusters_df_31186339[0:6]]\ndfm = pd.DataFrame(clusters_df_31186339.apply(lambda x: process.extractOne(x, char_movie_31186339))\n                               .tolist(), columns=["Character name", "ratio", "best_id"])\n# Need to find the correlation between both dataframes : in clusters_df, there are only names and in df_char_movie there are full character names:\n# However, process.extractOne is comparing one string with a list of strings : we need to group by movie and compare each element of the group with each element of the other group:\nclusters = clusters_df.groupby([\'Wikipedia movie ID\'])[\'Character partial name\']\nchar_movies = df_char_movie.groupby([\'Wikipedia movie ID\'])[\'Character name\']\ndfm = pd.DataFrame(clusters.apply(lambda x: [process.extractOne(elem, [group.values for name, group in char_movies]) for elem in x])\n                               .tolist(), columns=[\'Character name\', \'ratio\', \'best_id\']) #score_cutoff = 50?\n'

In [ ]:
clusters_df_test3['All_names'][127]

['Henrietta Lowell',
 'Charlie Chan',
 'Alice Lowell',
 'Dick Williams',
 'Fred Gage',
 'Janice Gage',
 'Baxter',
 'Warren T. Phelps',
 'Ulrich',
 'Carlotta']