In [2]:
import pandas as pd
import numpy as np

In [3]:
# Loading the data of character metadata

df_characters = pd.read_csv('Data/character.metadata.tsv', sep='\t')
df_characters.columns = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie release date', 'Character name', 'Actor date of birth', 'Actor gender',
                        'Actor height (in meters)', 'Actor ethnicity (Freebase ID)', 'Actor name', 'Actor age at movie release',
                        'Freebase character/actor map ID', 'Freebase character ID', 'Freebase actor ID']
                        
df_characters

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
1,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
2,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
3,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
4,975900,/m/03vyhn,2001-08-24,Commander Helena Braddock,1949-05-26,F,1.727,/m/0x67,Pam Grier,52.0,/m/02vdcfp,/m/0bgchnd,/m/0418ft
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450663,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450664,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450665,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450666,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [4]:
print(df_characters['Character name'].isnull().sum())

print(df_characters['Freebase character ID'].isnull().sum())

df_characters.loc[df_characters['Character name'].isnull() & df_characters['Freebase movie ID'].isnull()]
out = df_characters.iloc[:, [3, 11]].isnull().all(1)
out
true_count = sum(out)
true_count # everytime we don't have the character name we don't have the freebase ID movie => we have only half of the character data

# we have many cases where there is no character name
# many cases where we have no freebase character id
# we want to see how many of these overlap => that way we can see where we have absolutely NO information
# the easiest would be to have diretcly character name
# if there are many cases where we have no character name but freebase character id we could try to find the data

257875
257865

257865

In [5]:
# Loading the data of movie metadata

df_movie = pd.read_csv('Data/movie.metadata.tsv', sep='\t')
df_movie.columns = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie name', 'Movie release date', 'Movie box office revenue', 'Movie runtime',
                    'Movie languages (Freebase ID)', 'Movie countries (Freebase ID)', 'Movie genres (Freebase ID)']
df_movie

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID),Movie countries (Freebase ID),Movie genres (Freebase ID)
0,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
1,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
2,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
3,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
4,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."
...,...,...,...,...,...,...,...,...,...
81735,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81736,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81737,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81738,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81739,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [6]:
# Loading name clusters
# 970 unique character names used in at least two different movies, along with 2,666 instances of those types

df_name_clusters = pd.read_csv('Data/name.clusters.txt', sep='\t')
df_name_clusters.columns = ['Character name', 'Freebase character/actor map ID']
df_name_clusters.head()

  Character name Freebase character/actor map ID
0  Stuart Little                       /m/0k3wcx
1  Stuart Little                       /m/0k3wbn
2       John Doe                       /m/0jyg35
3       John Doe                       /m/0k2_zn
4     Josh Framm                       /m/0jt3p3

In [7]:
# Loading plot summaries
df_plot_summaries = pd.read_csv('Data/plot_summaries.txt', sep='\t')
df_plot_summaries.columns = ['Wikipedia movie ID', 'Plot Summary']
df_plot_summaries.head()

   Wikipedia movie ID                                       Plot Summary
0            31186339  The nation of Panem consists of a wealthy Capi...
1            20663735  Poovalli Induchoodan  is sentenced for six yea...
2             2231378  The Lemon Drop Kid , a New York City swindler,...
3              595909  Seventh-day Adventist Church pastor Michael Ch...
4             5272176  The president is on his way to give a speech. ...

In [8]:
df_char_movie = pd.merge(left=df_characters, right=df_movie, how='inner', on= ['Wikipedia movie ID', 'Freebase movie ID', 'Movie release date'])
df_char_movie

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID,Movie name,Movie box office revenue,Movie runtime,Movie languages (Freebase ID),Movie countries (Freebase ID),Movie genres (Freebase ID)
0,3196793,/m/08yl5d,2000-02-16,Police Officer,NaN,M,NaN,NaN,Allen Cutler,NaN,/m/0lr37fl,/m/0lr3z80,/m/0h8pnlw,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
1,3196793,/m/08yl5d,2000-02-16,Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,/m/0lr37d8,/m/0lr3z8g,/m/034dbm,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,3196793,/m/08yl5d,2000-02-16,NaN,NaN,M,NaN,NaN,Rod Britt,NaN,/m/0lr37gd,NaN,/m/0lr37gh,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
3,3196793,/m/08yl5d,2000-02-16,NaN,NaN,F,NaN,NaN,Hildy Brooks,NaN,/m/0lr37ff,NaN,/m/0gc9cpb,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
4,3196793,/m/08yl5d,2000-02-16,FBI Profiler Robert Hanks,1950-01-05,M,NaN,NaN,Robert Catrini,50.0,/m/0lr37g7,/m/0lr3z93,/m/0gbxsl5,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450647,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
450648,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
450649,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.73,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44,Five Clues to Fortune,NaN,129.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction""}"
450650,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm,Five Clues to Fortune,NaN,129.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction""}"
450651,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d,Five Clues to Fortune,NaN,129.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction""}"

In [9]:
def random_function(text):
    res = pd.DataFrame()
    res0 = []    
    res1 = []
    res2 = []
    all_words = text.split()
    for i in range(3):
        res0.append(str(i))
        res1.append({all_words[i], all_words[i+1], all_words[i+2]})
        res2.append({all_words[i+5], all_words[i+6], all_words[i+7]})
    res['char'] = res0
    res['verbs'] = res1
    res['adj'] = res2
    return res

In [10]:
def Analyse_Plots(df_plot_summaries):
    plot_analysis = pd.DataFrame()
    verbs = []
    attrs = []
    for i, summ in enumerate(df_plot_summaries['Plot Summary'][0:10]):
        male_gaze = random_function(summ) #to be changed by the real function
        for j in range(len(male_gaze)):
            verbs.append(male_gaze['verbs'][j])
            attrs.append(male_gaze['adj'][j])
    plot_analysis['Verbs'] = verbs
    plot_analysis['Attributes'] = attrs
    return plot_analysis

In [11]:
df_fake = Analyse_Plots(df_plot_summaries)
df_fake.head()

                          Verbs               Attributes
0             {The, nation, of}         {a, of, wealthy}
1           {nation, of, Panem}    {Capitol, a, wealthy}
2         {consists, of, Panem}  {Capitol, and, wealthy}
3   {Induchoodan, is, Poovalli}     {prison, six, years}
4  {Induchoodan, is, sentenced}    {life, years, prison}

In [12]:
verbs = df_fake['Verbs']
attributes = df_fake['Attributes']

In [13]:
movies = df_characters['Wikipedia movie ID']
characters = df_characters['Character name']

In [14]:
df_fict = pd.DataFrame()
df_fict['Wikipedia movie ID'] = movies
df_fict['Character name'] = characters
df_fict['Agent_Verbs'] = verbs
df_fict['Attributes'] = attributes
df_fict.head()
df_fict['Character name'].isnull().values.any()
df_fict['Character name'].isnull().sum()

257875

In [15]:
## now that we have the fake data frame => we want to do an inner join with the mega dataframe because we only want to keep the word lists
# of characters for which we have movie data in order to see the evolution over TIME of the GENDER, the ETHNICITY, the REVENUE, ...

In [16]:
df_complete = pd.merge(left=df_char_movie, right=df_fict, how='outer', on=['Wikipedia movie ID', 'Character name'])
df_complete

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height (in meters),Actor ethnicity (Freebase ID),Actor name,Actor age at movie release,...,Freebase character ID,Freebase actor ID,Movie name,Movie box office revenue,Movie runtime,Movie languages (Freebase ID),Movie countries (Freebase ID),Movie genres (Freebase ID),Agent_Verbs,Attributes
0,3196793,/m/08yl5d,2000-02-16,Police Officer,NaN,M,NaN,NaN,Allen Cutler,NaN,...,/m/0lr3z80,/m/0h8pnlw,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...","{The, opens, film}","{as, a, young}"
1,3196793,/m/08yl5d,2000-02-16,Reporter,1956-12-19,F,NaN,NaN,Alice Barrett,43.0,...,/m/0lr3z8g,/m/034dbm,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...","{opens, film, in}","{girl,, a, young}"
2,3196793,/m/08yl5d,2000-02-16,NaN,NaN,M,NaN,NaN,Rod Britt,NaN,...,NaN,/m/0lr37gh,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...","{The, story, begins}","{Jewish, a, young}"
3,3196793,/m/08yl5d,2000-02-16,NaN,NaN,M,NaN,NaN,Rod Britt,NaN,...,NaN,/m/0lr37gh,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...","{begins, story, with}","{Jewish, young, teen,}"
4,3196793,/m/08yl5d,2000-02-16,NaN,NaN,M,NaN,NaN,Rod Britt,NaN,...,NaN,/m/0lr37gh,Getting Away with Murder: The JonBenÃ©t Ramsey ...,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...","{told, at, being}","{one, column, final}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105725,975900,NaN,NaN,McSimms,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{Church, Michael, pastor}","{their, Lindy,, wife}"
2105726,975900,NaN,NaN,Zimmerman,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{The, president, is}","{way, to, give}"
2105727,975900,NaN,NaN,Benchley,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{president, on, is}","{a, to, give}"
2105728,975900,NaN,NaN,Rodale,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{his, on, is}","{a, speech., give}"
2105729,975900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{{{plot}}, film, The}","{as, 1974,, a}"

In [17]:
print("The total number of characters is %(characters)d" % {"characters": len(df_characters)})
len(df_characters['Wikipedia movie ID'])
print(df_characters.groupby('Wikipedia movie ID').count())
#print(df_characters.groupby('Freebase movie ID').count())
# The number of movies that we have based on the number of Wikipedia movie IDs and Freebase movie IDs is 64330

The total number of characters is 450668
                    Freebase movie ID  Movie release date  Character name  \
Wikipedia movie ID
330                                 4                   4               0
3217                               14                  14              14
3333                               14                  14               0
3746                               15                  15              15
3837                               20                  20              16
...                               ...                 ...             ...
37373877                            7                   7               2
37476824                           10                  10               0
37478048                            4                   4               1
37492363                            3                   3               0
37501922                            2                   2               2

                    Actor date of birth  Actor gender  \
Wikipedia movie ID
330                                   4             4
3217                                 12            13
3333                                 14            14
3746                                 13            14
3837                                 20            20
...                                 ...           ...
37373877                              5             6
37476824                              9            10
37478048                              4             4
37492363                              0             0
37501922                              2             2

                    Actor height (in meters)  Actor ethnicity (Freebase ID)  \
Wikipedia movie ID
330                                        0                              1
3217                                       9                              2
3333                                       4                              1
3746                                       9                              4
3837                                      11                              9
...                                      ...                            ...
37373877                                   4                              2
37476824                                   7                              6
37478048                                   3                              2
37492363                                   0                              0
37501922                                   2                              1

                    Actor name  Actor age at movie release  \
Wikipedia movie ID
330                          4                           4
3217                        14                          12
3333                        14                           1
3746                        15                          13
3837                        20                          20
...                        ...                         ...
37373877                     7                           5
37476824                    10                           9
37478048                     4                           4
37492363                     3                           0
37501922                     2                           2

                    Freebase character/actor map ID  Freebase character ID  \
Wikipedia movie ID
330                                               4                      0
3217                                             14                     14
3333                                             14                      0
3746                                             15                     15
3837                                             20                     16
...                                             ...                    ...
37373877                                          7                      2
37476824                                         10                      0
37478048                                          4                      1
37492363                                          3                      0
37501922                                          2                      2

                    Freebase actor ID
Wikipedia movie ID
330                                 4
3217                               14
3333                               14
3746                               15
3837                               20
...                               ...
37373877                            7
37476824                           10
37478048                            4
37492363                            3
37501922                            2

[64330 rows x 12 columns]

In [18]:
len(df_movie)

81740

In [19]:
print(df_char_movie.groupby('Wikipedia movie ID').count())

# By doing an inner merge of movie and character dataframes we can observe that only one movie from the movie dataframe disappeared.
# This means that all the movies from the character dataframe are present in the movie dataframe.
# Number of movies: 64329

                    Freebase movie ID  Movie release date  Character name  \
Wikipedia movie ID
330                                 4                   4               0
3217                               14                  14              14
3333                               14                  14               0
3746                               15                  15              15
3837                               20                  20              16
...                               ...                 ...             ...
37373877                            7                   7               2
37476824                           10                  10               0
37478048                            4                   4               1
37492363                            3                   3               0
37501922                            2                   2               2

                    Actor date of birth  Actor gender  \
Wikipedia movie ID
330                                   4             4
3217                                 12            13
3333                                 14            14
3746                                 13            14
3837                                 20            20
...                                 ...           ...
37373877                              5             6
37476824                              9            10
37478048                              4             4
37492363                              0             0
37501922                              2             2

                    Actor height (in meters)  Actor ethnicity (Freebase ID)  \
Wikipedia movie ID
330                                        0                              1
3217                                       9                              2
3333                                       4                              1
3746                                       9                              4
3837                                      11                              9
...                                      ...                            ...
37373877                                   4                              2
37476824                                   7                              6
37478048                                   3                              2
37492363                                   0                              0
37501922                                   2                              1

                    Actor name  Actor age at movie release  \
Wikipedia movie ID
330                          4                           4
3217                        14                          12
3333                        14                           1
3746                        15                          13
3837                        20                          20
...                        ...                         ...
37373877                     7                           5
37476824                    10                           9
37478048                     4                           4
37492363                     3                           0
37501922                     2                           2

                    Freebase character/actor map ID  Freebase character ID  \
Wikipedia movie ID
330                                               4                      0
3217                                             14                     14
3333                                             14                      0
3746                                             15                     15
3837                                             20                     16
...                                             ...                    ...
37373877                                          7                      2
37476824                                         10                      0
37478048                                          4                      1
37492363                                          3                      0
37501922                                          2                      2

                    Freebase actor ID  Movie name  Movie box office revenue  \
Wikipedia movie ID
330                                 4           4                         0
3217                               14          14                        14
3333                               14          14                        14
3746                               15          15                        15
3837                               20          20                        20
...                               ...         ...                       ...
37373877                            7           7                         0
37476824                           10          10                         0
37478048                            4           4                         0
37492363                            3           3                         0
37501922                            2           2                         0

                    Movie runtime  Movie languages (Freebase ID)  \
Wikipedia movie ID
330                             4                              4
3217                           14                             14
3333                           14                             14
3746                           15                             15
3837                           20                             20
...                           ...                            ...
37373877                        7                              7
37476824                        0                             10
37478048                        0                              4
37492363                        3                              3
37501922                        2                              2

                    Movie countries (Freebase ID)  Movie genres (Freebase ID)
Wikipedia movie ID
330                                             4                           4
3217                                           14                          14
3333                                           14                          14
3746                                           15                          15
3837                                           20                          20
...                                           ...                         ...
37373877                                        7                           7
37476824                                       10                          10
37478048                                        4                           4
37492363                                        3                           3
37501922                                        2                           2

[64329 rows x 18 columns]

In [20]:
char_per_movie = df_char_movie.groupby('Wikipedia movie ID')['Character name'].count()
df_char_per_movie = char_per_movie.to_frame()
df_char_per_movie

                    Character name
Wikipedia movie ID
330                              0
3217                            14
3333                             0
3746                            15
3837                            16
...                            ...
37373877                         2
37476824                         0
37478048                         1
37492363                         0
37501922                         2

[64329 rows x 1 columns]

In [21]:
df_total_rows_per_movie = df_char_movie.groupby(['Wikipedia movie ID'])['Character name'].agg(['size'])

df_character_missing_stats = pd.merge(df_total_rows_per_movie, df_char_per_movie, on='Wikipedia movie ID')
df_character_missing_stats['Missing values'] = df_character_missing_stats['size']-df_character_missing_stats['Character name']
df_character_missing_stats['% of missing'] = df_character_missing_stats['Missing values']/df_character_missing_stats['size']
df_character_missing_stats = df_character_missing_stats.rename(columns={'size': 'Total Rows (incl. NaN)'})
df_character_missing_stats = df_character_missing_stats.rename(columns={'Character name': 'Character Name (excl. NaN)'})
df_character_missing_stats = df_character_missing_stats.rename(columns={'Missing values': ' NÂ° of Nans'})
df_character_missing_stats

# In this dataframe we obtain the percentage of the character names that are missing per movie

,Total Rows (incl. NaN),Character Name (excl. NaN),NÂ° of Nans,% of missing
Wikipedia movie ID,,,,
330,4,0,4,1.000000
3217,14,14,0,0.000000
3333,14,0,14,1.000000
3746,15,15,0,0.000000
3837,20,16,4,0.200000
...,...,...,...,...
37373877,7,2,5,0.714286
37476824,10,0,10,1.000000
37478048,4,1,3,0.750000
37492363,3,0,3,1.000000
37501922,2,2,0,0.000000

In [27]:
print(df_character_missing_stats['% of missing'][df_character_missing_stats['% of missing'] == 0].count())
print(df_character_missing_stats['Character Name (excl. NaN)'][df_character_missing_stats['Character Name (excl. NaN)'] == 0].count())
print(df_character_missing_stats['Character Name (excl. NaN)'][df_character_missing_stats['Character Name (excl. NaN)'] == 0].count()/64329)
print(df_character_missing_stats['% of missing'][df_character_missing_stats['% of missing'] <= 0.5].count()/64329)


# The 3rd number is the number of movies for which we are missing 100% of the character names. In other words we are missing all of the characters for roughly 50% of the movies.

9120
31759
0.4936964666013773
0.28463057097110167

In [34]:
df_char_plot = pd.merge(left=df_characters, right=df_plot_summaries, how='inner', on='Wikipedia movie ID')
char_plot = df_char_plot.groupby(['Wikipedia movie ID'])['Character name'].agg(['size'])
#df_char_grouped = char_plot.to_frame()
#df_char_plot
char_plot
pd_innerjoin_plots_missingstats = pd.merge(left=df_character_missing_stats, right=char_plot, how='inner', on='Wikipedia movie ID')
pd_innerjoin_plots_missingstats

,Total Rows (incl. NaN),Character Name (excl. NaN),NÂ° of Nans,% of missing,size
Wikipedia movie ID,,,,,
330,4,0,4,1.000000,4
3217,14,14,0,0.000000,14
3333,14,0,14,1.000000,14
3746,15,15,0,0.000000,15
3837,20,16,4,0.200000,20
...,...,...,...,...,...
37302868,3,0,3,1.000000,3
37373877,7,2,5,0.714286,7
37478048,4,1,3,0.750000,4
37492363,3,0,3,1.000000,3
37501922,2,2,0,0.000000,2

In [35]:
df_plot_summaries

       Wikipedia movie ID                                       Plot Summary
0                31186339  The nation of Panem consists of a wealthy Capi...
1                20663735  Poovalli Induchoodan  is sentenced for six yea...
2                 2231378  The Lemon Drop Kid , a New York City swindler,...
3                  595909  Seventh-day Adventist Church pastor Michael Ch...
4                 5272176  The president is on his way to give a speech. ...
...                   ...                                                ...
42297            34808485  The story is about Reema , a young Muslim scho...
42298             1096473  In 1928 Hollywood, director Leo Andreyev  look...
42299            35102018  American Luthier focuses on Randy Parsonsâ€™ tra...
42300             8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42301             6040782  1940 - Operation Dynamo has just taken place. ...

[42302 rows x 2 columns]